<!DOCTYPE html>
<html>
<head>
	<title>2018 School Report Card | Rankings</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Social meta tags -->
	<meta name="description" content="Search Children at Risk rankings to see how your school performed this year.">
	<meta name="keywords" content="schools, education, Texas, Texas schools, Houston, Houston schools, Houston education, local education, Texas education, HISD, Children at Risk, education data, Fort Bend ISD, teachers, students, ACT, SAT, STAAR">
	<meta name="author" content="Houston Chronicle">
	<meta property="og:type" content="2018 School Report Card | HoustonChronicle.com">
	<meta property="og:title" content="School Report Card: Explore the Houston region’s top schools">
	<meta property="og:site_name" content="Houston Chronicle">
	<meta property="og:url" content="http://projects.houstonchronicle.com/schoolreportcard/">
	<meta property="og:image" content="https://s.hdnux.com/photos/73/51/75/15638362/4/rawImage.jpg">
	<meta property="og:description" content="Search Children at Risk rankings to see how your school performed this year.">
	<!-- Twitter card meta info -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="School Report Card: Explore the Houston region’s top schools">
	<meta name="twitter:site" content="@HoustonChron">
	<meta name="twitter:creator" content="@HoustonChron" />
	<meta name="twitter:url" content="http://projects.houstonchronicle.com/schoolreportcard/">
	<meta name="twitter:image" content="https://s.hdnux.com/photos/73/51/75/15638362/4/rawImage.jpg">
	<meta name="twitter:description" content="Search Children at Risk rankings to see how your school performed this year.">
	<!-- Font Aerdomr icons-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!--load font awesome-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--AngularJS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<!--Custom styles-->
	<link rel='stylesheet' href="css/reportcard.css">
	<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
	<!-- Begin Hearst analytics-->
	<script type="text/javascript" src="//nexus.ensighten.com/hearst/news-3p/Bootstrap.js"></script>
	<!-- End Hearst analytics-->
</head>
<body ng-app="myApp"> 
	<!--Share modal-->
	<div class="modal fade share-modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"> 
				<div class="modal-header"> <button type="button" class="close" data-dismiss="modal"><span>×</span></button> 
					<h4 class="modal-title" id="myLargeModalLabel">SHARE</h4> 
				</div> 
				<div class="modal-body">
					<p><a href=http://www.facebook.com/dialog/feed?app_id=653292111352579&amp;link=http%3A%2F%2Fprojects.houstonchronicle.com%2Fschoolreportcard%2Finsights&amp;description=Search%20Children%20at%20Risk%20rankings%20to%20see%20how%20your%20school%20performed%20this%20year.%20&amp;picture=https%3A%2F%2Fs.hdnux.com%2Fphotos%2F73%2F51%2F75%2F15638362%2F4%2FrawImage.jpg&amp;name=School%20Report%20Card%3A%20Explore%20the%20Houston%20region%E2%80%99s%20top%20schools target="_blank"><i class="fa fa-facebook"></i>Facebook</a></p>
					<p><a class="twitter" href="https://twitter.com/intent/tweet?text=.@HoustonChron School Report Card: Explore the Houston region’s top schools projects.houstonchronicle.com/schoolreportcard/insights" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></p>
					<p><a href="mailto:?subject=Check out the School Report Card by the Houston Chronicle&body=Explore the Houston region’s top schools: projects.houstonchronicle.com/schoolreportcard/insights"><i class="fa fa-envelope"></i>Email</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="http://www.houstonchronicle.com/"><img src="http://ww4.hdnux.com/photos/24/13/32/5289647/4/rawImage.png" class="img-responsive"/></a>
	</div>
	<div id="navbar" class="collapse navbar-collapse auto">
	<ul class="nav navbar-nav">
		<li><a href="https://www.houstonchronicle.com/local/education/schoolreportcard/">School Report Card</a></li>
		<li><a href="/schoolreportcard">Search the data</a></li>
		<li><a href="/schoolreportcard/insights">Insights</a></li>
		<li><a href="/schoolreportcard/data/2018combinedcampusdata.csv" target="_blank">Download the data</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Stories<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/School-Report-Card-Progress-has-Houston-students-12954033.php">Progress has students ‘proud’</a></li>
				<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/A-handful-of-suburban-districts-score-all-passing-12951879.php">Suburban districts all pass</a></li>
				<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/Houston-area-s-rural-schools-see-advantages-12951918.php">Rural districts have advantage</a></li>
				<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/At-Houston-s-top-high-schools-a-college-degree-12951957.php">Degree part of package</a></li>
				<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/Sugar-Land-charter-schools-rank-high-in-school-12961274.php">Charters rank high</a></li>
				<li><a href="https://www.houstonchronicle.com/sports/outdoors/article/Sharpstown-International-prepares-Houston-12961255.php">Degree part of package</a></li>
			</ul>
        </li>
		<li><a a id="transition">Methodology</a></li>
		<li><a id="defined">Definitions</a></li>
		<li><a href="http://www.houstonchronicle.com/subscribenow" target="_blank">Subscribe</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#" data-toggle="modal" data-target=".share-modal">Share <i class="fa fa-share"></i></a></li>
	</ul>
	</div><!--/.nav-collapse -->
	</div>
	</nav>
<!--Intro text-->
<div id="main">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<!--Logo-->
			<img class="img-responsive" src="images/logo.jpg" />
			<p>The annual Children At Risk rankings show how Texas public schools fared on state standardized tests for math and reading, accounting for the demographics of each school’s student population. The 2018 rankings show a continuing performance gap between wealthier and lower-income schools across the Houston area’s 87 districts. Still, a small percentage of high-poverty schools are defying the odds, earning “Gold Ribbon” status from Children At Risk. Also, due to a change in methodology, fewer schools received “A” and “F” grades this year, while more schools scored “B,” “C” or “D” grades.</p>
			<p>To see how your local school or district scored on the 2018 Children At Risk rankings, and how it compared to others throughout the region, use the search function below.</p>
		</div>
		<!--Search bars-->
		<div id="car">
			<div ng-controller="MyCtrl"> 
				<!--Schools search bar-->
				<div id="search">
				<div class="container">
				<div class="searchable col-md-4 col-md-offset-1">
					<h2 class="interactive-header">Search campuses</h2>
					<p>Enter the name of a school here to learn more information about it</p>
					<form class="form-inline">
						<input class="input-special" ng-model="searchSchool" type="text" placeholder="Search">
					</form>
					<ul class="form ng-hide" ng-show="searchSchool" ng-repeat="school in schools | filter: {campus: searchSchool} | limitTo:10 | orderBy: 'campus'">
				      <li><a href="" ng-click="setSchool(school)">{{school.combined}}</a></li>
				    </ul>
				</div><!--End schools search bar-->
				<!--Districts search bar-->
				<div class="searchable col-md-4 col-md-offset-2">
					<h2 class="interactive-header">Find a district</h2>
					<p>Find information about a district by typing in its name here</p>
					<form class="form-inline">
						<input class="input-special" ng-model="searchDistrict" type="text" placeholder="Search">
					</form>
					<ul class="form ng-hide" ng-show="searchDistrict" ng-repeat="district in districts | filter: {district: searchDistrict} | limitTo:10 | orderBy: 'district'">
				      <li><a href="" ng-click="setDistrict(district)">{{district.district}}</a></li>
				    </ul>
				</div><!--End districts search bar-->
				</div>
				</div>
				<!--Begin schools results-->
				<div class="col-md-10 col-md-offset-1">
					<div class="ng-hide" ng-show="setSchool" ng-repeat="school in schools | filter: {combined:campuses}">
						<div id="desktopSchools">
						<h2>{{school.campus}} <span id="grade">({{school.grade}})</span></h2><img class="ribbon" src="{{school.photo}}" />
			            <p><em>{{school.address}}</em></p>
			            <p><span class="extra">District:</span> {{school.district}}</p>
			            <p><span class="extra">Region rank:</span> {{school.rank}} (<span class="arrow" ng-style="{color: school.color}">{{school.movement}}</span> {{school.diff}})</p>
						<ul class="nav nav-tabs">
						    <li class="active"><a data-toggle="tab" href="#home">At a glance</a></li>
						    <li><a data-toggle="tab" href="#tests">Test results</a></li>
						    <li><a data-toggle="tab" href="#demos">Demographics</a></li>
					  	</ul>
					    <div class="tab-content">
						    <div id="home" class="tab-pane active">
						    	<div class="container">
							    	<div class="col-md-4 col-sm-6">
										<p><span class="category">Enrollment:</span> {{school.enrollment}} students</p>
										<p><span class="category">Classification:</span> {{school.level}}</p>
										<p><span class="category">Grade levels:</span> {{school.lowgrade}}-{{school.highgrade}}</p>
										<p><span class="category">2018 Region rank:</span> {{school.rank}}</p>
										<p><span class="category">2017 Region rank:</span> {{school.rank2017}}</p>
										<p><span class="category">2016 Region rank:</span> {{school.rank2016}}</p>
										<p><span class="category">2015 Region rank:</span> {{school.rank2015}}</p>
									</div>
									<div class="col-md-4 col-sm-6">
										<p><span class="category">Gold Ribbon?</span> {{school.goldribbon}}</p>
										<p><span class="category">Charter?</span> {{school.charter}}</p>
										<p><span class="category">Magnet?</span> {{school.magnet}}</p>                 
										<p><span class="category">2018 State rank:</span> {{school.state}}</p>                  
										<p><span class="category">2017 State rank:</span> {{school.state2017}}</p>                  
										<p><span class="category">2016 State rank:</span> {{school.state2016}}</p>                 
										<p><span class="category">2015 State rank:</span> {{school.state2015}}</p>
									</div>
								</div>
						    </div>
						    <div id="tests" class="tab-pane">
						    	<div class="container">
							    	<div class="col-md-4 col-sm-6">
										<p><span class="category">2018 Grade:</span> {{school.grade}}</p>
										<p><span class="category">2017 Grade:</span> {{school.grade2017}}</p>
										<p><span class="category">2016 Grade:</span> {{school.grade2016}}</p>
										<p><span class="category">2015 Grade:</span> {{school.grade2015}}</p>
									</div>
									<div class="col-md-4 col-sm-6">
										<p><span class="category">Meets reading:</span> {{school.rmeets}}</p>
										<p><span class="category">Meets math:</span> {{school.mmeets}}</p>
										<p><span class="category">SAT:</span> {{school.sat}}</p>
										<p><span class="category">ACT:</span> {{school.act}}</p>
									</div>
								</div>
							</div>
						    <div id="demos" class="tab-pane">
						    	<div class="container">
							    	<div class="col-md-4 col-sm-6">
										<p><span class="category">% Asian students:</span> {{school.percentasian}}</p>
										<p><span class="category">% African-American students:</span> {{school.percentafam}}</p>
										<p><span class="category">% American Indian students:</span> {{school.percentamindian}}</p>
										<p><span class="category">% Hispanic students:</span> {{school.percenthispanic}}</p>
										<p><span class="category">% Pacific Islander students:</span> {{school.percentpacisl}}</p>
										<p><span class="category">% White students:</span> {{school.percentwhite}}</p>
									</div>
									<div class="col-md-4 col-sm-6">
										<p><span class="category">% students of two or more races:</span> {{school.percenttwo}}</p>
										<p><span class="category">% Economically disadvantaged:</span> {{school.percentecodis}}</p>
									</div>
								</div>
							</div>
				  		</div>
					</div><!--End schools results for desktop-->
					<!--Schools results for mobile-->
					<div id="mobileSchools">
						<h2>{{school.campus}} ({{school.grade}})</h2><img class="ribbon" src="{{school.photo}}" />
			            <p><em>{{school.address}}</em></p>
			            <p><span class="extra">District:</span> {{school.district}}</p>
			            <p><span class="extra">Region rank:</span> {{school.rank}} (<span class="arrow" ng-style="{color: school.color}">{{school.movement}}</span> {{school.diff}})</p>
					  	<div class="card">
						    <div class="card-header" id="headingGlance">
					      		<h5 class="mb-0">
						        	<button class="btn btn-link" data-toggle="collapse" data-target="#glance" aria-expanded="false" aria-controls="glance">At a glance </button>
						      	</h5>
						    </div>
						    <div id="glance" class="collapse" aria-labelledby="headingGlance" data-parent="#mobileSchools">
						      <div class="card-body">
						        <p><span class="category">Enrollment:</span> {{school.enrollment}} students</p>
								<p><span class="category">Classification:</span> {{school.level}}</p>
								<p><span class="category">Grade levels:</span> {{school.lowgrade}}-{{school.highgrade}}</p>
								<p><span class="category">2018 Region rank:</span> {{school.rank}}</p>
								<p><span class="category">2017 Region rank:</span> {{school.rank2017}}</p>
								<p><span class="category">2016 Region rank:</span> {{school.rank2016}}</p>
								<p><span class="category">2015 Region rank:</span> {{school.rank2015}}</p>
								<p><span class="category">Gold Ribbon?</span> {{school.goldribbon}}</p>
								<p><span class="category">Charter?</span> {{school.charter}}</p>
								<p><span class="category">Magnet?</span> {{school.magnet}}</p>                 
								<p><span class="category">2018 State rank:</span> {{school.state}}</p>                  
								<p><span class="category">2017 State rank:</span> {{school.state2017}}</p>                  
								<p><span class="category">2016 State rank:</span> {{school.state2016}}</p>                 
								<p><span class="category">2015 State rank:</span> {{school.state2015}}</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="headingTests">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#test" aria-expanded="false" aria-controls="test">Test results</button>
						      </h5>
						    </div>
						    <div id="test" class="collapse" aria-labelledby="headingTests" data-parent="#mobileSchools">
						      <div class="card-body">
						        <p><span class="category">2018 Grade:</span> {{school.grade}}</p>
								<p><span class="category">2017 Grade:</span> {{school.grade2017}}</p>
								<p><span class="category">2016 Grade:</span> {{school.grade2016}}</p>
								<p><span class="category">2015 Grade:</span> {{school.grade2015}}</p>
								<p><span class="category">Meets reading:</span> {{school.rmeets}}</p>
								<p><span class="category">Meets math:</span> {{school.mmeets}}</p>
								<p><span class="category">SAT:</span> {{school.sat}}</p>
								<p><span class="category">ACT:</span> {{school.act}}</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="headingDemos">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#demogs" aria-expanded="false" aria-controls="demogs">Demographics</button>
						      </h5>
						    </div>
						    <div id="demogs" class="collapse" aria-labelledby="headingDemos" data-parent="#mobileSchools">
						      <div class="card-body">
						        	<p><span class="category">% Asian students:</span> {{school.percentasian}}</p>
									<p><span class="category">% African-American students:</span> {{school.percentafam}}</p>
									<p><span class="category">% American Indian students:</span> {{school.percentamindian}}</p>
									<p><span class="category">% Hispanic students:</span> {{school.percenthispanic}}</p>
									<p><span class="category">% Pacific Islander students:</span> {{school.percentpacisl}}</p>
									<p><span class="category">% White students:</span> {{school.percentwhite}}</p>
									<p><span class="category">% students of two or more races:</span> {{school.percenttwo}}</p>
									<p><span class="category">% Economically disadvantaged:</span> {{school.percentecodis}}</p>
						      </div>
						    </div>
						  </div>
						</div><!--End schools results for mobile-->
			  		</div>
			  	</div><!--End schools results-->
			  	<!--Begin districts results-->
				<div class="col-md-10 col-md-offset-1">
					<div class="ng-hide" ng-show="setDistrict" ng-repeat="district in districts | filter: {district:isds}">
					<!--Districts results for desktop-->
					<div id="desktopDistricts">
					<h2>{{district.district}}</h2>
		            <p><span class="extra">Type of district</span>: {{district.type}}</p>
					<ul class="nav nav-tabs">
					    <li class="active"><a data-toggle="tab" href="#primary">At a glance</a></li>
					    <li><a data-toggle="tab" href="#grades">Breakdown by grades</a></li>
					    <li><a data-toggle="tab" href="#demographics">Demographics</a></li>
				  	</ul>
				  	<div class="tab-content">
					    <div id="primary" class="tab-pane active">
					    	<div class="container">
							    <div class="col-md-4 col-sm-6">
									<p><span class="category"># of schools:</span> {{district.schools}}</p>
									<p><span class="category"># of students:</span> {{district.enrollment}} students</p>
			                 	</div>
				              	<div class="col-md-4 col-sm-6">  
									<p><span class="category"># of elementary schools:</span> {{district.elem}}</p>
									<p><span class="category"># of middle schools:</span> {{district.middle}}</p>
									<p><span class="category"># of high schools:</span> {{district.high}}</p>
				              	</div>
			             	</div>
					    </div>
					    <div id="grades" class="tab-pane">
					    	<div class="container">
						    	<div class="col-md-4 col-sm-6">
							      <p><span class="category">% of A schools:</span> {{district.apercent}}</p>
				                  <p><span class="category">% of B schools:</span> {{district.bpercent}}</p>
				                  <p><span class="category">% of C schools:</span> {{district.cpercent}}</p>
				              	</div>
				              	<div class="col-md-4 col-sm-6">
				                  <p><span class="category">% of D schools:</span> {{district.dpercent}}</p>
				                  <p><span class="category">% of F schools:</span> {{district.fpercent}}</p>
				                </div>
			            	</div>
			   		 	</div>
					    <div id="demographics" class="tab-pane">
					    	<div class="container">
						     	<div class="col-md-4 col-sm-6">
									<p><span class="category">% Asian students:</span> {{district.percentasian}}</p>
									<p><span class="category">% African-American students:</span> {{district.percentafam}}</p>
									<p><span class="category">% American Indian students:</span> {{district.percentamindian}}</p>
									<p><span class="category">% Hispanic students:</span> {{district.percenthispanic}}</p>
									<p><span class="category">% Pacific Islander students:</span> {{district.percentpacisl}}</p>
									<p><span class="category">% White students:</span> {{district.percentwhite}}</p>
									<p><span class="category">% students of two or more races:</span> {{district.percenttwo}}</p>
								</div>
								<div class="col-md-4 col-sm-6">
									<p><span class="category">% Economically disadvantaged:</span> {{district.percentecodis}}</p>
									<p><span class="category">% At-risk:</span> {{district.percentatrisk}}</p> 
								</div>
			                </div>
					    </div>
					  </div>
					</div><!--End district results for desktop-->
					<!--Districts results for mobile-->
					<div id="mobileDistricts">
						<h2>{{district.district}}</h2>
		            	<p><span class="extra">Type of district</span>: {{district.type}}</p> 
						  <div class="card">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						          At a glance
						        </button>
						      </h5>
						    </div>
						    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#mobileDistricts">
						      	<div class="card-body">
						        	<p><span class="category"># of schools:</span> {{district.schools}} schools</p>
									<p><span class="category"># of students:</span> {{district.enrollment}} students</p>
									<p><span class="category"># of elementary schools:</span> {{district.elem}}</p>
									<p><span class="category"># of middle schools:</span> {{district.middle}}</p>
									<p><span class="category"># of high schools:</span> {{district.high}}</p>
						      	</div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Breakdown by grades
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mobileDistricts">
						      <div class="card-body">
				        			<p><span class="category">% of A schools:</span> {{district.apercent}}</p>
					                <p><span class="category">% of B schools:</span> {{district.bpercent}}</p>
					                <p><span class="category">% of C schools:</span> {{district.cpercent}}</p>
					                <p><span class="category">% of D schools:</span> {{district.dpercent}}</p>
				                  	<p><span class="category">% of F schools:</span> {{district.fpercent}}</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Demographics
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#mobileDistricts">
						      <div class="card-body">
						       		<p><span class="category">% Asian students:</span> {{district.percentasian}}</p>
									<p><span class="category">% African-American students:</span> {{district.percentafam}}</p>
									<p><span class="category">% American Indian students:</span> {{district.percentamindian}}</p>
									<p><span class="category">% Hispanic students:</span> {{district.percenthispanic}}</p>
									<p><span class="category">% Pacific Islander students:</span> {{district.percentpacisl}}</p>
									<p><span class="category">% White students:</span> {{district.percentwhite}}</p>
									<p><span class="category">% students of two or more races:</span> {{district.percenttwo}}</p>
									<p><span class="category">% Economically disadvantaged:</span> {{district.percentecodis}}</p>
									<p><span class="category">% At-risk:</span> {{district.percentatrisk}}</p> 
						      </div>
						    </div>
						  </div>
						</div><!--End district results for mobile-->
					</div>
				</div><!--End districts results-->
			</div>
		</div>
	</div>
</div><!--End main section-->
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div id="explainer">
			<h2 class="interactive-header">How we did it</h2>
			<p>Children At Risk, a Houston-based policy advocacy group, publishes annual ratings of academic performance at all Texas public schools, assigning a grade and rank to each campus. To calculate the ratings, Children At Risk uses raw scores and student progress scores on the state's standardized math and reading tests. The organization also factors in the percentage of students deemed "economically disadvantaged" by the state when assigning a ranking, seeking to level the playing field between higher- and lower-income schools. Using that data, Children At Risk evenly weights the three factors -- raw test scores (33%), student progress (33%), and expected performance relative to student demographics (33%) – to arrive at a grade and ranking.</p>
			<p>This year, Children At Risk made three significant changes to its methodology. First, it used a lower standard for measuring raw student achievement, switching from "masters grade level" on the state test to "meets grade level." Second, it more evenly weighted the three factors. In previous years, raw test scores accounted for 60% of a school's rating, and student progress and expected performance accounted for 20% each. Third, it eliminated its curve for assigning letter grades. In the past, Children At Risk ensured a set percentage of schools received each letter grade (25% were "A," 20% were "B," "C," and "D" each, 15% were "F"). This year, the organization set performance cutoffs for each grade level, resulting in an unpredictable grade distribution. The result: fewer "A" and "F" schools, but more "B," "C" and "D" schools.</p>
			<p>The Children At Risk ratings are different than ratings issued by the Texas Education Agency. The state, which only assigns ratings of "met standard" and "improvement required," will begin issuing letter grades next year.</p>
			<p>Return to our database <a class="return">here.</a></p>
		</div>
		<div id="districtDefs">
			<h2 class="interactive-header">Campus definitions</h2>
			<p><strong>Region rank:</strong> The school’s final ranking among all campuses in the eight-county Greater Houston area.</p>
			<p><strong>Gold Ribbon:</strong> Distinction given to “A”- and “B”-rated schools with student populations that are at least 75 percent “economically disadvantaged,” as determined by the state.</p>
			<p><strong>Meets math/reading:</strong> Percentage of students who answered at least 3 out of 4 questions correctly on the State of Texas Assessments of Academic Readiness.</p>
			<h2 class="interactive-header">District definitions</h2>
			<p><strong>Major Urban</strong>: A district is classified as major urban if: (a) it is located in a county with a population of at least 950,000; (b) its enrollment is the largest in the county or at least 70 percent of the largest district enrollment in the county; and (c) at least 35 percent of enrolled students are economically disadvantaged.</p>
			<p><strong>Major Suburban:</strong> A district is classified as major suburban if: (a) it does not meet the criteria for classification as major urban; (b) it is contiguous to a major urban district; and (c) its enrollment is at least 3 percent that of the largest contiguous major urban district or at least 4,500 students. A district also is classified as major suburban if: (a) it does not meet the criteria for classification as major urban; (b) it is not contiguous to a major urban district; (c) it is located in the same county as a major urban district; and (d) its enrollment is at least 15 percent that of the largest major urban district in the county or at least 4,500 students.</p>
			<p><strong>Other Central City: </strong>A district is classified as other central city if: (a) it does not meet the criteria for classification in either of the previous subcategories; (b) it is not contiguous to a major urban district; (c) it is located in a county with a population of between 100,000 and 949,999; and (d) its enrollment is the largest in the county or at least 75 percent of the largest district enrollment in the county.</p>
			<p><strong>Other Central City Suburban:</strong> A district is classified as other central city suburban if: (a) it does not meet the criteria for classification in any of the previous subcategories; (b) it is located in a county with a population of between 100,000 and 949,999; and (c) its enrollment is at least 15 percent of the largest district enrollment in the county. A district also is other central city suburban if: (a) it does not meet the criteria for classification in any of the previous subcategories; (b) it is contiguous to an other central city district; (c) its enrollment is at least 3 percent that of the contiguous other central city district; and (d) its enrollment is equal to or greater than the median district enrollment for the state of 879 students.</p>
			<p><strong>Independent Town: </strong>A district is classified as independent town if: (a) it does not meet the criteria for classification in any of the previous subcategories; (b) it is located in a county with a population of 25,000 to 99,999; and (c) its enrollment is the largest in the county or is at least 75 percent of the largest district enrollment in the county.</p>
			<p><strong>Non-Metropolitan:</strong> A district is classified as non-metropolitan: stable if: (a) it does not meet the criteria for classification in any of the previous subcategories; and (b) its enrollment is equal to or greater than the median district enrollment for the state.</p>
			<p><strong>Rural:</strong> A district is classified as rural if it does not meet the criteria for classification in any of the previous subcategories. A rural district has either: (a) an enrollment of between 300 and the median district enrollment for the state and an enrollment growth rate over the past five years of less than 20 percent; or (b) an enrollment of less than 300 students.</p>
			<p><strong>Charter School Districts: </strong>Charter school districts are open-enrollment school districts chartered by the commissioner of education with final approval for operation provided by the State Board of Education.</p>
			<p>Return to our database <a class="return">here.</a></p>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script> 
<script src="js/reportcard.js"></script> 
</body>
</html>